body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

header {
  margin-top: -60px;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  background-color: #8CB116;
}

.navbar-brand,
.f-nav{
  color: black;
}

.row {
  text-align: center;
  margin-top: 20px;
}

.box {
  background-color: #8CB116;
  color: black;
  height: 210px;
  max-width: 210px;
  margin-left: 20px;
  border-radius: 200px;
  margin-top: 100px;
}

.text-box {
  margin-top: 70px;
}

.lText-box {
  margin-top: 40px;
}
