body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

header {
  margin-top: -60px;
}

.navbar {
  background-color: #3D9938;
  height: 80px;
}

.container-fluid {
  margin-top: 20px;
}

.navbar-brand,
.f-nav{
  color: black;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      overflow: hidden;
  }
  .carousel-caption {
    top: 15em;
  }

.row   {
 margin: auto;
 text-align: center;
}

input {
  background-color: #3D9938;
  border-color: #3D9938;
}

.modal-backdrop{
  z-index: -90 !important;
}

.dropdownList {
  padding: 10px 400px !important;
}

.dropdown-service {
  margin-left: 300px !important;
}

/*ticket*/
.ticketDisplay{
  color: black;
  font-size: 16px;
  text-decoration: underline;;
  text-shadow: none;
}
