body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

header {
  margin-top: -60px;
}

.navbar {
  background-color: #3D9938;
}

.navbar-brand,
.f-nav{
  color: black;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      overflow: hidden;
  }

.row   {
 margin: auto;
 text-align: center;
}

.box {
  background-color: #3D9938;
  color: black;
  height: 210px;
  max-width: 210px;
  margin-left: 20px;
  border-radius: 200px;
  margin-top: 50px;
}

.text-box {
  margin-top: 70px;
}

.lText-box {
  margin-top: 40px;
}
